body{
    background: #fff;
    background: url(pyramid.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: right bottom; */
    background-position: center;
}

.countdown{
    box-align: center;
    text-align: center;
    width: max-content;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 300pt;
    padding: 25px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(6px) saturate(110%);
    -webkit-backdrop-filter: blur(6px) saturate(110%);
    border-radius: 25pt;
    
    color: #FFF;
    font-family: "Avenir", "Helvetica Neue", sans-serif;
}

.number{
    display: inline-block;
    font-size: 72pt;
    font-weight: lighter;
}

.label{
    display: inline-block;
    font-size: 36pt;
}

.big{
    display: inline-block;
    font-size: 40vw;
    font-weight: lighter;
}