ErrorDocument 401 /error/?e=401
ErrorDocument 403 /error/?e=403
ErrorDocument 404 /error/?e=404
ErrorDocument 410 /error/?e=410
ErrorDocument 414 /error/?e=414
ErrorDocument 500 /error/?e=500
ErrorDocument 501 /error/?e=501
ErrorDocument 502 /error/?e=502
ErrorDocument 503 /error/?e=503
ErrorDocument 504 /error/?e=504
ErrorDocument 507 /error/?e=507

Redirect permanent /link https://link.zanderp25.com/
Redirect permanent /new /
Redirect permanent /christmas /countdown/christmas
Redirect temp /sumeru /countdown/genshin-update
Redirect temp /genshin /countdown/genshin-update
