<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../index.css">
    <meta name="theme-color" content="#ED7D3A" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#666666" media="(prefers-color-scheme: dark)">
    <title>Blank Page - Zanderp25</title>
    <meta name="description" content="Super awesome description goes here!">
    <meta name="author" content="Zanderp25">
  </head>
  <body>
    <div id="navbar" class="navbar">
      <a href="/">
        <div class="logo">
          <img src="../ico/safari-pinned-tab.svg" alt="Zanderp25">
        </div>
      </a>
      <input type="checkbox" id="menu-button"/>
      <div class="navbar-links">
        <a href="/#about">About</a>
        <a href="/#projects">Projects</a>
        <a href="/index/">Downloads</a>
        <a href="https://youtu.be/dQw4w9WgXcQ">こんにちは</a>
      </div>
    </div>
    <div class="content">
      <!-- Put content here -->
    </div>
    <footer>&copy; Zanderp25</footer>
  </body>
</html>
