/*==================================================
        setting up the mobile design
====================================================*/
.nav-menu {
    position: relative;
    margin: 35px auto 0;
    width: 300px;
    height: 534px;
    background-color: #533557;
    overflow: hidden;
  }
  body {
    font-family: sans-serif;
    background-color: #F6C390;
  }
  /*======================================================
          Styling the label
  =======================================================*/
  .navbar-label{
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 25px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.6s;
  }
  /*==================================================
          Default Checkbox style removing
  ====================================================*/
  #toggle {
    display: none;
  }
  
  /*==================================================
        Converting hyperlinks to Hamburger menu Icon 
  ====================================================*/
  a {
    text-decoration: none;
    display:block;
    /* display: inline-block;
    float: left;
    clear: both; */
    color: transparent;
    font-size: 14px;
    letter-spacing: -6px;
    height: 7px;
    line-height: 7px;
    text-transform: uppercase;
    transform: scaleY(0.2);
    transition: 0.5s, opacity 0.1s;
  }
  a:before {
    position: absolute;
    content: '';
  
    top: 50%;
    transform: translateY(-50%) scaleY(5);
  
    width: 100%;
    height: 2px;
    background-color: #EC7263;
    transition:0.5s;
  }
  /*===================================================
        Adjusting the navbar
  ====================================================*/
  nav {
    display: inline-block;
    margin: 25px 25px 20px;
    pointer-events: none;
    transition: 0.5s;
    
  }
  /*===================================================
        Restricting to three lines
  ====================================================*/
  a:nth-child(n + 4) {
    margin-top: -7px;
    opacity: 0;
  }
  /*===================================================
          Moving the navigation menu on click
  =====================================================*/
  #toggle:checked ~ nav {
    margin-bottom: 100px;
    pointer-events: auto;
    transform: translate(50px, 50px);
    
  }
  /*===================================================
          Spreading out the hyperlinks
  =====================================================*/
  #toggle:checked ~ nav a {
    color: #EC7263;
    letter-spacing: 0;
    height: 40px;
    line-height: 40px;
    margin-top: 0;
    opacity: 1;
    transform: scaleY(1);
    
  }
  /*===================================================
          Removing the lines
  =====================================================*/
  #toggle:checked ~ nav a:before {
    opacity: 0;
  }
  /*===================================================
          The Hover Effect
  =====================================================*/
  .navbar-label:hover {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  /*==================================================
            Cross button Creation
  ====================================================*/
  .navbar-label:before, .navbar-label:after {
    position: absolute;
    content: '';
    top:50%;
    left: 0;
    width: 100%;
    height: 1px;
    /*transform:translateY(-25%);*/
    background-color: #EC7263;
    border-radius: 5px;
    transition: 0.5s;
  }
  #toggle:checked ~ .navbar-label:before {
    height: 2px;
    transform: translateY(-50%) rotate(45deg) scale(1);
  }
  #toggle:checked ~ .navbar-label:after {
    height: 2px;
    transform: translateY(-50%) rotate(-45deg) scale(1);
  }
  
  .navbar-label:before {
    transform: translateY(-50%) rotate(45deg) scale(0);
  }
  .navbar-label:after {
    transform: translateY(50%) rotate(-45deg) scale(0);
  }
  
  /*==================================================
            Extra Contents
  ====================================================*/
  .content {
    position: relative;
    text-align: center;
    transition: 0.5s;
  }
  .content:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2;
    transition: 0.5s;
  }
  
  .infinity {
    position: relative;
    width: 106px;
    height: 50px;
    box-sizing: content-box;
  }
  .infinity:before,.infinity:after {
    content: "";
    box-sizing: content-box;
    position: absolute;
    top: 0;
    left: 85px;
    width: 30px;
    height: 30px;
    border: 10px solid #EC7263;
    border-radius: 50px 50px 0 50px;
    transform: rotate(-45deg);
  }
  .infinity:after {
    left: 145px;
    right: 0;
    border-radius: 50px 50px 50px 0;
    transform: rotate(45deg);
  }
  .line {
    margin: 15px 0 30px;
  }
  .line span {
    display: inline-block;
    height: 10px;
    margin: 0 5px;
    background-color: #C06162;
    border-radius: 5px;
  }
  .line span:first-child {
    width: 60px;
  }
  .line span:last-child {
    width: 70px;
  }
  
  .front-box {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 210px;
    background-color: #FEBE7E;
    z-index: 1;
  }
  
  .back-box {
    display: inline-block;
    position: relative;
    top: -198px;
    width: 190px;
    height: 180px;
    background-color: #C28683;
  }
  
  /*==================================================
            Toggle Effect on Extra contents
  ====================================================*/
  
  #toggle:checked ~ .content {
    padding-top: 30px;
  }
  #toggle:checked ~ .content:before {
    background-color: rgba(0, 0, 0, 0.3);
  }