@viewport {
  width: device-width;
  zoom: 1.0;
}

/* Color Palette */

body {
  --main-color: #FFFFFF;
  --font-color: #000000;
  --accent-1: #ED7D3A;
  --accent-2: #EC9967;
  --link-1: #32CBFF;
  --link-2: #00A5E0; 
}

@media (prefers-color-scheme: dark) {
  body {
    --main-color: #161620;
    --font-color: #FFFFFF;
    --accent-1: #666666;
    --accent-2: #D37943;
    --link-1: #3DB2DA;
    --link-2: #097FA9;
  }
}

/* Main Formatting */

body {
  background-color: var(--main-color);
  color: var(--font-color);
	font-family:"Avenir", "Helvetica Neue", sans-serif;
	margin-top:0;
	margin-left:0;
	margin-right:0;
}

::selection {
  background-color: #ED7D3A40;
}

h1 {
  font-weight: lighter;
  color: var(--accent-2);
  font-size: 15.0vw;
  margin-left: 5.0vw;
  margin-top: 10.0vw;
  margin-right: 5.0vw;
  margin-bottom: 0.0vw;
}

/* Navbar */

.navbar {
  position: sticky;
  background-color: var(--accent-1);
  color: #000;
  height: 50px;
  width: 100%;
  top: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  text-align: center;
}

.logo img{
  height:30px;
  width:auto;
  margin-top: 10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  filter: invert(100%);
}

.navbar .logo {
  position: absolute;
  left: 0;
  z-index: 1;
  top: 0;
  height: 50px;
  line-height: 50px;
  margin-left: 10px;
}

.navbar-links {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.navbar a{
  color: white;
  opacity: 1;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 50px;
  display: inline-block;
  border-radius: 0;
  transition: 250ms;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar a:hover, .navbar img:hover {
  opacity: 0.7;
}

/* Share Button */

#share {
  position: fixed;
  bottom: 25px;
  right: 30px;
  z-index: 1;
  width: 50px;
  height: 50px;
  background-image: url("/img/share.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0);
}

/* Mobile */

#menu-button {
  display: none;
  position: absolute;
  top: 4px;
  right: 5px;
  z-index: 1;
  width: 35px;
  height: 35px;
  color: #fff;
}

@media (max-width: 767px) {
  #menu-button {
    display: block;
  }
  
  .navbar-links {
    display: none;
    position: fixed;
    top: 0px;
    left: 25px;
    right: 25px;
    background-color: var(--accent-1);
    color: white;
    opacity: 0;
    text-align: center;
    padding: 10px;
    border-radius: 7px;
    z-index: 1;
  }
  
  #menu-button:checked ~ .navbar-links{
    display: inline-block;
    opacity: 1;
    top: 75px;
    transition: 500ms;
  }
}
