.alertBanner {
  position: relative;
  width: 100%;
  z-index: 99;

  background-color: #f8f8f8;
  color: #000;
  border-radius: 1em;
  padding: 0.75rem;
  padding-left: 1.5em;
  transition-duration: 500ms;
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.alertBanner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.75rem;
  height: 100%;
  border-radius: 1em 0 0 1em;
}

.alertBannerContent {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
}

.alertBannerContent h3 {
  font-size: 1.1rem;
  margin: 0;
}

.alertBannerContent p {
  font-size: 0.8rem;
  margin: 0;
}

.alertBanner button {
  background: transparent;
  color: inherit;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
}

.info {
  background: #c9e6ff;
  color: #000;
}

.warning {
  background: #ffeaa7;
  color: #000;
}

.danger {
  background: #ffcccc;
  color: #000;
}

.info::before {
  background: #1e88e5;
}

.warning::before {
  background: #ff9900;
}

.danger::before {
  background: #dc5046;
}

.bannerGroup {
  position: absolute;
  top: 90px;
  left: 15px;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  gap: 0.5rem;
}