body {
    background-color: #f0f0f0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    margin: 0;
    scrollbar-color: #cccccc #f0f0f0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #2a2a32;
        color: #fff;
    }
}